[core]
	excludesfile = /Users/dnlytras/.gitignore_global
	editor = hx
[user]
	name = Dimitrios Lytras
	email = dnlytras@gmail.com
[github]
	username = dimitrisnl
[alias]
	s = status
	cm = commit -m
	co = checkout
	new = checkout -b
	amend = commit --amend --all
	unstage = reset HEAD~

	d = -c diff.external=difft diff
    ld = -c diff.external=difft log -p --ext-diff
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	p = push
	pl = push --force-with-lease

[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
